/* 

Teave
-----
* Flexbox: vt https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-content
* Vormid: vt https://v4-alpha.getbootstrap.com/components/forms/

Värviskeem
----------
* DarkBlue
            - keskelemendi rõhutus
* #757575 (keskmiselt hall)
            - võimaldatud nupp, tooltip 
* Gainsboro (helehall)
            - mittevõimalik nupp 
* #464a4c (tumehall)
            - sisestatav tekst 
* Azure (pastellroheline)
            - informatsioonilise paani (Infopaan, Kool) taust
* Aqua (ereroheline)
            - informatsioonilise paani ääris
* Coral
            - veateatepaani ääris,
              veateate tekst
* Lavenderblush
            - veateatepaani taust
* Gray
            - paani sulgur
* #C5E1A5 (nõrk roheline)
            - normaaltoimingu nupp (Salvesta)
            - dialoogikasti ääris, märgendi ääris
* #F48FB1 (punane)
            - tühistava toimingu nupp 
* 292B2C (Bootstrap4 vaikimisi tekstivärv)
  - DarkBlue - allpunktiir
            - link

(värvimääranguid on ka HTML-is)

*/

  /* Üldine font ja fondisuurus */
  body, textarea, button, input, legend {  
    font-family: 'Times New Roman', serif !important;
    font-size: 14pt !important;
  }

  /* Keha */
  body { padding: 2rem 2rem 8rem 2rem; }

  /* Mitmesugused korduvkasutatavad stiilid */
  .tooltip-inner { background-color: White;
    color: #757575; }

  /* Tekstisisestusala
    Content-editable div, kujundus imiteeritud Bootstrap input elemendi järele */
  #Tekst { 
    display: block;
    width: 100%;
    height: auto; /* 2.5rem; */
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #464a4c;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 1rem; }
  #Tekst:focus {
    border-color: LightGray;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(220, 180, 220, 0.6);
    outline: 0 none;
  }

  .kesk { color: DarkBlue;
    font-weight: 600; }
  .ikoon { font-family: 'Material Icons';
    font-size: 48px;
  }
  /* Tekstitöötluse nupud */
  #Tekstitootlus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  /* Paanid - Ühised omadused
     ------------------------ 
    Paanid on: 1) Infopaan; 2) Teatepaan; 3) Koolitekst; 4) Salvestusdialoog; 5) Oigekirjadialoog; 6) Filtridialoog. 
  */
  .paan {
    border-radius: 4px; 
    padding: 0 0 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
  }
  .peidetud { 
    /* display: flex; ülekirjutamiseks */
    display: none !important;
  }
  .sulgemisnupuke {
    /* Sulgemisnupuke */
    padding: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: Gray;
  }
  .dialoog {
    /* Avatav/suletav dialoogivorm */
    border: 1px solid #C5E1A5;
  }
  .teabepaan {
    /* Teavet esitav paan */
    border: 1px solid Aqua;
    background-color: Azure;
  }

  /* Paanid - spetsiifilised omadused
     --------------------------------
  */
  #Teatepaan { 
    border: 1px solid coral;
    background-color: lavenderblush;
    padding: 1rem;
    color: coral;
  }

  /* Nupud */
  .nupp { margin: 1rem 0.5rem;
    cursor: pointer;
    color: #757575;
  }
  .disabled { color: Gainsboro !important; cursor: auto; }

  /* Paanide spetsiifilised elemendid */
    
  /* Tekstikoostepaan */
  #STekstiblokk {
    margin: 1rem;
  }
  #SalvestatavTekst {  margin: 1rem;
    width: 24rem;
    color: #757575 !important;
  }
  #SalvestatavTekst:focus {
    border-color: #C5E1A5 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(220, 180, 220, 0.6);
    outline: 0 none;      
  }

  /* Määra üle Bootstrapi lingivärv */
  a, a:hover, a:active, a:visited {
    color: 292B2C !important;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: DarkBlue;
  }

