<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-6'>

        <!-- Infopaan -->
        <div id='Infopaan' class='paan teabepaan d-flex align-items-start'>
          <!-- Info -->
          <p id='Infotekst'>
            <b>Node.js-Heroku-OAuth-Github n채iterakendus</b><br>
            <br> Samategev on <a href='https://www.heroku.com'>Herokus</a> majutatud <a href='https://nodejs.org'>Node.js</a>            rakendus, mis demonstreerib <a href='https://oauth.net/2/'>OAuth 2.0</a> autentimist ja
            <a href='https://github.com/'>GitHubi</a> kasutamist rakenduse p체sim채luna.
          </p>
          <!-- Sulgemisnupp -->
          <div id='InfopaanSulge' class='justify-content-end sulgemisnupuke'>
            <span>&times;</span>
          </div>
        </div>

        <!-- Autentimispaan -->
        <div id='Autentimispaan' class='paan'>
          <p>Sisse logitud Githubi kasutajana: <b><%= kasutaja %></b></p>
          <p><a href="/logout">Logi v채lja</a></p>
        </div>

        <!-- Tekstikoostepaan -->
        <div id='Tekstikoostepaan' class='paan d-flex'>
          <form action="/salvesta" method="post">
            <div class="form-group">
              <label for="FailiNimi">Faili nimi:</label>
              <input type='text' class="form-control" id="FailiNimi" name='failinimi' autocomplete='off'>
              </textarea>
            </div>
            <div class="form-group">
              <label for="SalvestatavTekst">Salvestatav tekst:</label>
              <textarea class="form-control" id="SalvestatavTekst" name='salvestatavtekst' autocomplete='off' rows="3">
              </textarea>
            </div>
            <p>
              <span class="btn btn-secondary" type="submit">
               <i class="ikoon material-icons">cloud_upload</i>
              </span>
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>

  <% include ../partials/jalus.ejs %>

    </div>

</body>

</html>